<div ng-controller="tuintracallupteamsCtrl" class="module tuintracallupteams">

  <div class='iframeLoading' ng-if="isBusy">
    <div class='transitionloader'>
    </div>
  </div>
  <koa-toolbar>
    <koa-icon-button icon="search"></koa-icon-button>
  </koa-toolbar>

  <div role="listbox">
    <koa-item ng-repeat="team in teams">
      <div class="avatar blue">
        <img width="60px" ng-src="{{team.shield[100]}}" item-icon>

      </div>
      <koa-item-body two-line>
        <div>{{team.teamName}}</div>
        <div secondary>{{team.category}} {{team.gender}}</div>
      </koa-item-body>

      <koa-button raised ng-click="selectGame('{{team._id}}')">{{ 'tuintra-callupteams.select-team' | translate }}</koa-button>
    </koa-icon-item>
  </div>
</div>
